*{
    margin: 0;
    padding: 0;
}

/* header */

.content-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
}

.head-container{
    position: sticky;
    top: 0;
    padding: 10px;
    border-bottom: 1px solid white;
    /* margin-bottom: 20px; */
    background-color: gray;
}

.navigation-list{
    display: flex;
    flex-wrap: wrap;
    gap: 6em;
}

.navigation-list a{
    color: black;
    text-decoration: none;
}

.nav-list{
    display: flex;
    list-style: none;
    gap: 2em;
}

.nav-list a{
    color: black;
    text-decoration: none;
}

.nav-list a:hover{
    color: white;
}

.contact-button{
    border-radius: 10px;
    height: 30px;
    width: 100px;
    border-color: black;
    background-color: none;
    margin-right: 20px;
}

/* Body */
.overview{
    text-align: center;
    padding: 10% 15% 10% 15%;
    background-color: gray;
    border-bottom: 1px solid white;
}

.overview-head{
    font-size: 4.5rem;
    font-weight: 500;
}

.overview-body{
    font-size: 1.40rem;
}

.card-containers{
    /* background-color: gray; */
    padding: 20px;
}

.article-header{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

@media (min-width: 300px){
    .main-container{
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 20rem));
        grid-gap: 1rem;
        place-content: center;
    }
}

.card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 10px;
    height: 70px;
}

.card:hover{
    background-color: gray;
    border-color: whitesmoke;
    box-shadow: 0 5px 10px rgba(255, 253, 253, 0.2);
}

.items{
    font-size: 20px;
}

.items a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.project-pain-solution{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 20px;
   
}

.contents{
    border: 1px solid whitesmoke;
    height: max-content;
    width: 400px;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(112, 110, 110, 0.2);
}

.service-container{
    display: grid;
    place-items: center;
    padding: 20px 20px 20px 20px;
}

.service-header{
    font-size: 30px;
    font-weight: 500;
}

.services{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}

.service-list{
    display: grid;
    place-items: center;
    width: 12em;
    height: 12em;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(112, 110, 110, 0.2);
}

.service-list:hover{
    background-color: gray;
}

.service-list img{
    height: 9rem;
    width: 5rem;
}

.img-3{
    height: 5rem;
    width: 7rem;
}

.comment{
    padding: 20px;
}

.comment-container{
    display: grid;
    grid-template-areas: 
        'one'
        'two'
        'three'
        'four';
    align-content: center;
    justify-content: center;
    gap: 1em;
}

@media (min-width: 50em) {
    .comment-container{
        grid-template-areas: 
            'one one two two'
            'three four two two';
    }

    .com-1{
        grid-area: one;
        padding: 2em;
        height: auto;
        width: auto;
        border: 1px solid whitesmoke;
        background-color: beige;
        /* box-shadow: 0 3px 10px rgba(112, 110, 110, 0.2); */
    }
    
    .com-2{
        grid-area: two;
        padding: 2em;
        height: auto;
        width: 200px;
        border: 1px solid whitesmoke;
        background-color: palegoldenrod;
        /* box-shadow: 0 3px 10px rgba(112, 110, 110, 0.2); */
    }
    
    .com-3{
        grid-area: three;
        padding: 2em;
        height: auto;
        width: auto;
        border: 1px solid whitesmoke;
        background-color: plum;
        /* box-shadow: 0 3px 10px rgba(112, 110, 110, 0.2); */
    }
    
    .com-4{
        grid-area: four;
        padding: 2em;
        height: auto;
        width: auto;
        border: 1px solid whitesmoke;
        background-color: paleturquoise;
        /* box-shadow: 0 3px 10px rgba(112, 110, 110, 0.2); */
    }
}

.border-radius{
    border-radius: .5em;
}

/* Footer */

footer{
    display: flex;
    align-items: center;
    background-color: gray;
    min-height: 5rem;
    padding: 1rem;
}