*{
    margin: 0;
    padding: 0;
}

/* header */

.content-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
}

.head-container{
    padding: 10px;
    margin-bottom: 20px;
}

.navigation-list{
    display: flex;
    flex-wrap: wrap;
    gap: 6em;
}

.navigation-list a{
    color: black;
    text-decoration: none;
}

.nav-list{
    display: flex;
    list-style: none;
    gap: 2em;
}

.nav-list a{
    color: black;
    text-decoration: none;
}

.contact-button{
    border-radius: 10px;
    height: 30px;
    width: 100px;
    border-color: black;
    background-color: none;
    margin-right: 20px;
}

/* Body */
.main-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.main-container:nth-child(3){
    width: 500px;
}

.overview{
    text-align: center;
}